<div class="<%= commentClass %>">

    <% if comment.user.photos.first %>
        <% file_name = "/images/" + comment.user.photos.first.file_name %>
    <% else %>
        <% file_name = "/images/enigma.jpeg" %>
    <% end %>

    <div class="commentLeftColumn">
        <a href="/photos/index/<%= comment.user_id %>">
            <span class="commentThumbnail" style="background-image: url('<%=file_name%>');"></span>
        </a> 
    </div>
    <% if new %>
        <div class="newCommentDiv">
            <%= link_to("Add new comment", {:controller => :comments, :action => :new, :id => comment.photo}) %>
        </div>
    <% else %>
        <div class="commentRightColumn">
            <div class="commentInternalPanel">
                <div class="commentInternalLeftColumn">
                    <a href="/photos/index/<%= comment.user_id %>">
                        <span class="commentName">
                            <%= comment.user.full_name %>
                        </span>
                    </a>
                </div>
                <div class="commentInternalRightColumn">
                    <span class="commentDate">
                        <%= comment.date_time.getlocal.to_formatted_s(:long) %>
                    </span>
                </div>
            </div>
            <div class="commentText">
                <%= comment.comment %>
            </div>
        </div>
    <% end %>

    <div class="clearBothDiv"></div>         
</div>