<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<head>
		<title><%= @pageTitle %></title>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
	  	<%= yield :head %>
	  	<%= stylesheet_link_tag "application", :media => "all" %>
	  	<%= javascript_include_tag "application" %>
	  	<%= csrf_meta_tags %>
	</head>
	
	<body>

	 	<div class="header">
	 		<h1>Rafael Moreno Ferrer</h1>
	 		<h2>CS142 Project <%= $project_number %></h2>

            <% if session[:current_user_id] %>
                <p>Hi <%= User.find(session[:current_user_id]).first_name %>! <a href="/users/logout"><strong>Logout</strong></a></p>
                <p class="backLink"><a href="/users/index">Index of Users</a> | <a href="/photos/index/<%= session[:current_user_id] %>">My Profile</a></p>
            <% else %>
                <p><a href="/users/login"><strong>Login</strong></a></p>
                <p class="backLink"><a href="/users/index">Index of Users</a></p>
            <% end %>
	 	</div>

	 	<div class="bodyContent">

            <!-- display alerts and validation errors (if any) at top of the page -->

            <% if flash.now[:alert_error] %>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "error", :messages => flash.now[:alert_error]}) %>
            <% end %>

            <% if flash.now[:alert_success] %>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "success", :messages => flash.now[:alert_success]}) %>
            <% end %>

            <% if flash.now[:alert_info] %>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "info", :messages => flash.now[:alert_info]}) %>
            <% end %>

            <!-- display alerts in flash only if they came from previous requests (otherwise if they are from they current request they are
            also present in flash.now and we would duplicate the alerts) -->

            <% if flash[:alert_error] and !flash.now[:alert_error] %>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "error", :messages => flash[:alert_error]}) %>
            <% end %>

            <% if flash[:alert_success] and !flash.now[:alert_success] %>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "success", :messages => flash[:alert_success]}) %>
            <% end %>

            <% if flash[:alert_info] and !flash.now[:alert_info] %>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "info", :messages => flash[:alert_info]}) %>
            <% end %>

            <% if @validation_errors and !@validation_errors.empty?%>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "error", :messages => @validation_errors.full_messages}) %>
            <% end %>

            <!-- body contents -->

            <%= yield %>

	 	</div>

	 	<div class="footer">
		    Copyright &copy; 2013 Rafael Moreno Ferrer. All rights reserved.
		</div>

 	</body>

</html>
