<% content_for :head do %>
    <%= stylesheet_link_tag "photos" %>
<% end %>

<% if @user %>

    <% @pageTitle = @user.full_name + "'s Photos" %>

    <h1 class="contentTitle">
        <%= @user.full_name %>'s Photos
    </h1>

    <!-- allow logged in users to upload pictures only to their profiles -->
    <% if @logged_in and session[:current_user_id] == @user.id %>
        <a href="/photos/new">
            <span class="addBox">
                Add new photo
            </span>
        </a><br/>
    <% end %>

    <% unless @user.photos.empty? %>
        <p class="smallAnnotation"><i>Click on a photo to see its comments and tags</i></p><br/>
    <% end %>

    <% @user.photos.each do |photo| %>
        <div class="photoPanel">
            <img class="photoImg photoImgMedium photoImgClickable cntr-div" src="/images/<%= photo.file_name %>" alt="Photo of <%= @user.full_name %>" onclick="location.href = '/photos/view/<%= photo.id %>'"/>
            <div class="photoFooter">
                Date Created: <%= photo.date_time.getlocal.to_formatted_s(:long) %><br/>
                <% if !photo.comments.empty? %>
                    <% if photo.comments.size > 1%>
                        <strong><%= photo.comments.size %></strong> comments<br/>
                    <% else %>
                        <strong>1</strong> comment<br/>
                    <% end %>
                <% end %>
                <% if !photo.tags.empty? %>
                    <% if photo.tags.size > 1%>
                        <strong><%= photo.tags.size %></strong> people tagged
                    <% else %>
                        <strong>1</strong> person tagged
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>

<% else %>

    <% @pageTitle = "User not found" %>

<% end %>