<% content_for :head do %>
    <%= stylesheet_link_tag "photos" %>
<% end %>

<% @pageTitle = "Add Photo" %>
<% @validation_errors = @photo.errors %>

<div class="backLink"><a href="/photos/index/<%= session[:current_user_id] %>">&lt;&lt; back to my photos</a></div>
<div class="clearBothDiv"></div>

<h1 class="contentTitle">
  New Photo
</h1>

<%= form_for(@photo, :url => {:controller => :photos, :action => :create}, :html => {:class => "contentBox addPhotoForm"}) do |form| %>
    <fieldset>
        <%= form.hidden_field(:user_id, :value => session[:current_user_id]) %>
        <%= form.hidden_field(:date_time, :value => DateTime.now) %>
        <%= form.file_field(:file, :class => "fileInputField") %>
        <%= form.submit("Upload Photo", :class => "submitButton") %>
    </fieldset>
<% end %>
