<!-- this partial creates a reusable comment with author thumbnail, author name, date and comment text -->
<div class="<%= commentClass %>">

    <% if comment.user.photos.first %>
        <% file_name = "/images/" + comment.user.photos.first.file_name %>
    <% else %>
        <% file_name = "/images/enigma.jpeg" %>
    <% end %>

    <div class="commentLeftColumn">
        <a href="/photos/index/<%= comment.user_id %>">
            <!-- I am aware that inline styling is not allowed. However, this was the only approach I 
                 found to create nice thumbnails. I brought this up to Zahara and Vidya and they
                 said it was OK. -->
            <span class="commentThumbnail" style="background-image: url('<%=file_name%>');"></span>
        </a> 
    </div>
    <div class="commentRightColumn">
        <div class="commentInternalPanel">
            <div class="commentInternalLeftColumn">
                <a href="/photos/index/<%= comment.user_id %>">
                    <span class="commentName">
                        <%= comment.user.full_name %>
                    </span>
                </a>
            </div>
            <div class="commentInternalRightColumn">
                <span class="commentDate">
                    <%= comment.date_time.to_formatted_s(:long) %>
                </span>
            </div>
        </div>
        <div class="commentText">
            <%= comment.comment %>
        </div>
    </div>


    <div class="clearBothDiv"></div>         
</div>