<% content_for :head do %>
    <%= stylesheet_link_tag "photos" %>
    <%= stylesheet_link_tag "comments" %>
<% end %>

<div class="clearBothDiv"></div>

<% if @user %>

    <% @pageTitle = @user.full_name + "'s Photos" %>

    <h1 class="contentTitle">
        <%= @user.full_name %>'s Photos:
    </h1>

    <!-- allow logged in users to upload pictures only to their profiles -->
    <% if @logged_in and session[:current_user_id] == @user.id %>
        <div class="addPhotoBox">
            <a href="/photos/new">Add new photo</a>
        </div>
    <% end %>

    <% @user.photos.each do |photo| %>
        <div class="photoPanel">

            <div class="photoLeftColumn">
                <img class="photoImg" src="/images/<%= photo.file_name %>" alt="Photo of <%= @user.full_name %>"/>
                <div class="photoCreationDate">Date Created: <%= photo.date_time.getlocal.to_formatted_s(:long) %></div>
            </div>

            <div class="photoRightColumn">

                <% photo.comments.each do |comment| %>

                    <%= render(:partial => "shared/comment", :locals => {:commentClass => cycle('commentOddPanel', 'commentEvenPanel'), :comment => comment, :new => false}) %>

                <% end %>

                <!-- only show the add new comment option to logged in users -->
                <% if @logged_in %>

                    <% @new_comment.photo = photo %>
                    <%= render(:partial => "shared/comment", :locals => {:commentClass => cycle('commentOddPanel', 'commentEvenPanel'), :comment => @new_comment, :new => true}) %>

                <% end %>

            </div>

            <div class="clearBothDiv"></div>

        </div>
    <% end %>

<% else %>

    <% @pageTitle = "User not found" %>

<% end %>