<% content_for :head do %>
    <%= stylesheet_link_tag "photos" %>
    <%= stylesheet_link_tag "comments" %>
<% end %>

<a class="backLink" href="/users/index">&lt;&lt; Index of Users</a>
<div class="clearBothDiv"></div>

<% if @user %>

    <% @pageTitle = @user.full_name + "'s Photos" %>

    <h1 class="contentTitle">
        <%= @user.full_name %>'s Photos:
    </h1>

    <!-- allow logged in users to upload pictures only to their profiles -->
    <% if @logged_in and session[:current_user_id] == @user.id %>
        <h2><%= link_to("Add new photo", :controller => :photos, :action => :new) %></h2>
    <% end %>

    <% @user.photos.each do |photo| %>
        <div class="photoPanel">

            <div class="photoLeftColumn">
                <img class="photoImg" src="/images/<%= photo.file_name %>" alt="Photo of <%= @user.full_name %>"/>
                <div class="photoCreationDate">Date Created: <%= photo.date_time.getlocal.to_formatted_s(:long) %></div>
            </div>

            <div class="photoRightColumn">

                <% photo.comments.each do |comment| %>

                    <%= render(:partial => "shared/comment", :locals => {:commentClass => cycle('commentOddPanel', 'commentEvenPanel'), :comment => comment}) %>

                <% end %>

                <!-- only show the add new comment option to logged in users -->
                <% if @logged_in %>
                    <%= link_to("Add new comment", :controller => :comments, :action => :new, :id => photo) %>
                <% end %>

            </div>

            <div class="clearBothDiv"></div>

        </div>
    <% end %>

<% else %>

    <% @pageTitle = "User not found" %>

    <%= render(:partial => "shared/alert", :locals => {:alertType => "error", :message => "That user does not exist, or you did not provide a user id."}) %>

<% end %>