<%= form_for(@photo, :url => {:controller => :photos, :action => :create}) do |form| %>
    <%= @photo.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>

    <%= form.hidden_field(:user_id, :value => session[:current_user_id]) %>
    <%= form.hidden_field(:date_time, :value => DateTime.now) %>
    <%= form.file_field(:file) %>
    <%= form.submit "Upload Photo" %>
<% end %>
