<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	
	<head>
		<title><%= @pageTitle %></title>
	  	<%= yield :head %>
	  	<%= stylesheet_link_tag    "application", :media => "all" %>
	  	<%= javascript_include_tag "application" %>
	  	<%= csrf_meta_tags %>
	</head>
	
	<body>

	 	<div class="header">
	 		<h1>Rafael Moreno Ferrer</h1>
	 		<h2>CS142 Project <%= $project_number %></h2>

            <% if session[:current_user_id] %>
                Hi <%= User.find(session[:current_user_id]).first_name %>! <a href="/users/logout">Logout</a>
            <% elsif %>
                <a href="/users/login">Login</a>
            <% end %>
	 	</div>

	 	<div class="bodyContent">

            <!-- display alerts (if any) at top of the page -->

            <!-- flash alerts were set in the previous request and this request was a redirection -->
            <% if flash[:alert_error] %>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "error", :message => flash[:alert_error]}) %>
            <% end %>

            <% if flash[:alert_success] %>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "success", :message => flash[:alert_success]}) %>
            <% end %>

            <% if flash[:alert_info] %>
                <%= render(:partial => "shared/alert", :locals => {:alertType => "info", :message => flash[:alert_info]}) %>
            <% end %>

            <!-- @flash is a local variable throughout the lifetime of the current request. It is similar to flash in that it is
                 a hash that contains alerts (and other stuff) to be displayed in views. However, it contains alerts
                 to be displayed when rendering the view for the CURRENT request. It differs from the flash in that the flash
                 is used to store alerts (and other stuff) to be displayed when the next request comes in. Thus @flash is useful
                 to display alerts we do not have redirects on the controller and flash is useful when there are redirects. -->
            <% if @flash %>
                <% if @flash[:alert_error] %>
                    <%= render(:partial => "shared/alert", :locals => {:alertType => "error", :message => @flash[:alert_error]}) %>
                <% end %>

                <% if @flash[:alert_success] %>
                    <%= render(:partial => "shared/alert", :locals => {:alertType => "success", :message => @flash[:alert_success]}) %>
                <% end %>

                <% if @flash[:alert_info] %>
                    <%= render(:partial => "shared/alert", :locals => {:alertType => "info", :message => @flash[:alert_info]}) %>
                <% end %>
            <% end %>

            <!-- body contents -->
            <%= yield %>

	 	</div>

	 	<div class="footer">
		    Copyright &copy; 2013 Rafael Moreno Ferrer. All rights reserved.
		</div>

 	</body>

</html>
