<% content_for :head do %>
    <%= stylesheet_link_tag "users" %>
<% end %>

<% @pageTitle = "Login" %>

<%= form_tag({:controller => "users", :action => "post_login"}, :class => "contentBox loginBox") do %>
    <h2> Login </h2>
    <%= text_field_tag(:login, nil, :placeholder => "Username", :class => "inputTextField") %>
    <%= password_field_tag(:password, nil, :placeholder => "Password", :class => "inputTextField") %>
    <%= submit_tag("Sign in", :class => "submitButton") %>
    <%= link_to "Register", :action => :new %>
<% end %>