<% content_for :head do %>
    <%= stylesheet_link_tag "photos" %>
    <%= stylesheet_link_tag "comments" %>
<% end %>

<a class="backLink" href="/users/index">&lt;&lt; Back to Index of Users</a>
<div class="clearBothDiv"></div>

<% if @user %>

    <% @pageTitle = @user.full_name + "'s Photos" %>

    <h1 class="contentTitle">
        <%= @user.full_name %>'s Photos:
    </h1>

    <% @user.photos.each do |photo| %>
        <div class="photoPanel">

            <!-- if there are comments on this photo, create two columns: one for the photo, one for the comments,
                 otherwise create a single column to center the photo in the middle of the page -->
            <% if !photo.comments.empty? %>
                <% columnClass = "photoLeftColumn" %>
            <% else %>
                <% columnClass = "photoSingleColumn" %>
            <% end %>

            <!-- photo column -->
            <div class="<%= columnClass %>">
                <img class="photoImg" src="/images/<%= photo.file_name %>" alt="Photo of <%= @user.full_name %>"/>
                <div class="photoCreationDate">Date Created: <%= photo.date_time.to_formatted_s(:long) %></div>
            </div>

            <!-- comments column (if any) -->
            <% if !photo.comments.empty? %>
                <div class="photoRightColumn">
                    
                    <% photo.comments.each do |comment| %>

                        <%= render(:partial => "shared/comment", :locals => {:commentClass => cycle('commentOddPanel', 'commentEvenPanel'), :comment => comment}) %>

                    <% end %>
                    
                </div>
            <% end %>
                
            <div class="clearBothDiv"></div>

        </div>
    <% end %>

<% else %>

    <% @pageTitle = "User not found" %>

    <%= render(:partial => "shared/alert", :locals => {:alertType => "error", :message => "That user does not exist, or you did not provide a user id."}) %>

<% end %>