<a class="backLink" href="/users/index">&lt;&lt; Back to Index of Users</a>

<% if @user %>

    <% @pageTitle = @user.full_name + "'s Photos" %>

    <h1 class="contentTitle">
        <%= @user.full_name %>'s Photos:
    </h1>

    <ul>
        <% @user.photos.each do |photo| %>
            <li>

                <ul>

                    <li>
                        <img src="/images/<%= photo.file_name %>" alt="Photo of <%= @user.full_name %>"/>
                    </li>

                    <li>
                        Date Created: <%= photo.date_time %>
                    </li>

                    <li>
                        <% photo.comments.each do |comment| %>

                            <ul>

                                <li> By: 
                                    <a href="/photos/index/<%= comment.user_id %>">
                                        <%= comment.user.full_name %>
                                    </a>
                                </li>

                                <li> On: 
                                    <%= comment.date_time %>
                                </li>

                                <li> Comment: 
                                    <%= comment.comment %>
                                </li>

                            </ul>

                        <% end %>
                    </li>

                </ul>

            </li>
        <% end %>
    </ul>

<% else %>

    <% @pageTitle = "User not found" %>

    <p>
        That user does not exist, or you did not provide a user id.
    </p>

<% end %>