<a class="backLink" href="/users/index">&lt;&lt; Back to Index of Users</a>
<div class="clearBothDiv"></div>

<% if @user %>

    <% @pageTitle = @user.full_name + "'s Photos" %>

    <h1 class="contentTitle">
        <%= @user.full_name %>'s Photos:
    </h1>

    <% @user.photos.each do |photo| %>
        <div class="photoPanel">
            <% if !photo.comments.empty? %>
                <% columnClass = "leftColumn" %>
            <% else %>
                <% columnClass = "singleColumn" %>
            <% end %>
            
            <div class="<%= columnClass %>">
                <img class="photo" src="/images/<%= photo.file_name %>" alt="Photo of <%= @user.full_name %>"/>
                <div class="creationDate">Date Created: <%= photo.date_time.to_formatted_s(:long) %></div>
            </div>

            <% if !photo.comments.empty? %>
                <div class="rightColumn">
                    
                    <% photo.comments.each do |comment| %>

                        <%= render(:partial => "shared/comment", :locals => {:commentClass => cycle('oddComment', 'evenComment'), :comment => comment})%>

                    <% end %>
                    
                </div>
            <% end %>
                
            <div class="clearBothDiv"></div>

        </div>
    <% end %>

<% else %>

    <% @pageTitle = "User not found" %>

    <h2 class="contentTitle">
        That user does not exist, or you did not provide a user id.
    </h2>

<% end %>