<% content_for :head do %>
    <%= stylesheet_link_tag "users" %>
<% end %>

<% @pageTitle = "Index of Users" %>

<% unless @all_users.empty? %>
    
    <h1 class="contentTitle">
        Index of Users
    </h1>

    <div class="searchDiv" style="margin: 0px auto; width: 320px; position: relative; top: -28px;">
        <div style="margin: 0px auto; width: 160px;">
        <input type="text" style="width: 160px" id="searchBar"/>
        </div>

        <div id="resultsDiv" class="mugshotGridSmall">
        </div>
    </div>

    <div class="mugshotGrid">
        
        <% @all_users.each do |user| %>
                <div class="mugshotFrame">
                    <a href="/photos/index/<%= user.id %>">
                        <span class="mugshotName"><%= user.full_name %></span>
                    </a>
            
                    <% if user.photos.first %>
                        <% file_name = "/images/" + user.photos.first.file_name %>
                    <% else %>
                        <% file_name = "/images/enigma.jpeg" %>
                    <% end %>

                    <a href="/photos/index/<%= user.id %>">
                        <span class="mugshot" style="background-image: url('<%=file_name%>');"></span>
                    </a>
                </div>
        <% end %>

        <div class="clearBothDiv"></div>

    </div>

    <script type="text/javascript">
        //<![CDATA[
        var resultsContainer = document.getElementById("resultsDiv");
        var inputField = document.getElementById("searchBar");
        inputField.onfocus = function ()
        {
            document.getElementById("resultsDiv").style.display = "block";
        }
//        inputField.onblur = function ()
//        {
//            document.getElementById("resultsDiv").style.display = "none";
//        }


        var callback = function (responseArray){
            if (!Object.prototype.toString.call( responseArray ) === '[object Array]'){
                // TODO: handle error...
                return;
            }

            resultsContainer.innerHTML = "";


            if (responseArray.length == 0){
                return;
            }

            resultsContainer.style.display = "block";

            for (var i = 0; i < responseArray.length; i++){
                var res = responseArray[i];
                var elem = document.createElement("DIV");

                elem.innerHTML = "<a href=\"/photos/index/" + res[0] +  "?photo_search=" + res[1] + "\"><span class=\"mugshotSmall\" style=\" width: 30px; height: 30px; background-image: url('" + res[2] + "');\"></span></a>";
                resultsContainer.appendChild(elem);
            }
        }

        new Searcher("searchBar", callback, "/photos/search", "search_str");
        //]]>
    </script>

<% end %>